<div class="todo-page">
    <h1 class="todo-header">My todo list</h1>

    <form class="example-form" (ngSubmit)="onNewTodoSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Enter todo</mat-label>
            <input name="newTodo" matInput placeholder="Create a new todo" [(ngModel)]="newTodo">
        </mat-form-field>
    </form>

    <mat-selection-list class="todo-list">
        <mat-list-option *ngFor="let todo of todos$ | async">
            <div class="list-item">
                <span>{{todo?.title}}</span>

                <button mat-icon-button (click)="onDeleteTodo($event, todo)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>